* {
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "MozillaText";

    background-color: #f9fcf9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "MozillaHeadline";
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

.hover-h-wgh:hover {
    font-variation-settings: "wght" 400;
}

.hover-t-wgh:hover,
.focus-visible-t-wgh:focus-visible {
    font-variation-settings: "wght" 700;
}

.text-bg {
    display: inline-block;

    padding: 0.3rem 1rem;

    background-color: color-mix(in srgb, #f9fcf9, #0000 40%);

    color: #000;

    backdrop-filter: blur(0.5em) brightness(200%) saturate(200%);
}

.icon {
    width: 1em;
    height: 1em;

    translate: 0 0.15em;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

section {
    padding: 3em;
}

header {
    width: 100%;
    height: 100dvh;
    min-height: 55em;

    & section {
        max-width: 23em;
    }

    &::before {
        display: block;

        position: absolute;

        content: "";

        --image-offset: -69dvw;

        width: 100%;
        /*height: calc(151dvw + var(--image-offset));*/
        height: 100%;

        background-image: url("/img/anthony-reungere-wBgqxZ5CtYQ-unsplash.jpg");
        background-size: cover;
        /*background-position: 0 var(--image-offset);*/
        background-position: 50% 60%;

        mask-image: linear-gradient(
            178deg,
            rgba(0, 0, 0, 1) 93%,
            transparent 93.2%
        );

        filter: blur(1px);
    }
}

#title {
    & .text-bg {
        padding: 0.3rem 1.5rem;
    }
}

#internal-links {
    position: sticky;

    --top-offset: 16.2em;

    top: calc(-1 * var(--top-offset) + 3em);

    z-index: 1;

    & div {
        display: flex;

        flex-direction: column;
        align-items: end;

        position: absolute;
        top: calc(var(--top-offset));
        right: 3em;

        & ul {
            display: grid;

            justify-items: right;
        }
    }
}

main {
    width: 100%;
}

footer {
    width: 100%;
}
